<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ground_plane"> 

  <link name="led_link">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.01"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
    <!--<collision>
      <geometry>
        <cylinder length="0.02" radius="0.01"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>-->
  </link>

  <!-- ==== LED joint ==== -->
  <joint name="led_joint" type="fixed">
    <parent link="tcp0"/>
    <child link="led_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>

  <!-- ==== Gazebo light (nếu muốn ánh sáng) ==== -->
  <gazebo reference="led_link">
    <light type="spot" name="led_spot_white">
      <pose>0 0 -0.1 0 -3.14 0</pose> <!-- pitch=-π/2 để chiếu xuống -->
      <diffuse>0.4 0.4 0.4 1</diffuse>
      <specular>0.2 0.2 0.2 1</specular>
      <attenuation>
        <range>3</range>
        <constant>0.2</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <spot>
        <inner_angle>0.7</inner_angle>
        <outer_angle>1.57</outer_angle>
        <falloff>0.5</falloff>
      </spot>
      <cast_shadows>true</cast_shadows>
    </light>
  </gazebo>
</robot>


